

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <label for="username">Post name</label>
        <input type="text" name="user_id" id="user_id" placeholder="User name" value="<%= post.username %>"><br>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Title of post" value="<%= post.title %>"><br>
        <label for="content">Content</label>
        <textarea rows="5" cols="40" name="content" id="content" placeholder="Content of post" value="<%= post.content %>"></textarea><br>
        <label for="category">Url to image</label>
        <label for="image_url">Title</label>
        <input type="text" name="image_url" id="image_url" placeholder="Url to image" value="<%= post.image_url %>"><br>
        <label for="video_url">Url to video</label>
        <input type="video_url" name="video_url" id="video_url" placeholder="Url to video" value="<%= post.video_url %>"><br>
        
        <select name="category" id="category">
            <% for(let category of categories) { %>
                <option value="<%= category %>"  ><%= category%></option>
            <% }%>
        </select>
        <button>Submit</button>
    </form>
    <a href="/posts">All posts</a><br>
</body>
</html>